.header {
	height: 70px;
	background-color: #29335C;
	text-align: center;
	color: #FFF;
	padding: 0;
}

.navmenu {
	margin: auto;
	height: 100%;
}
.navmenu ul{
	list-style-type: none;
	margin: 0;
	padding: 25px;
	height: 100%;
}
.navmenu ul li {
	display: inline;
	margin-right: 25px;
	height: 100%;
}
.navmenu ul li a{
	text-decoration: none;
	color: #FFF;
	height: 100%;
}

.income_distribution {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.no_data {
	display: flex;
	border: 1px solid #ddd;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	color: #29335C;

}

.icon {
	font-size: 5em;
	margin: 0;
}

.link_btn {
	display: block;
	padding: 25px;
	background-color: #2699FB;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	border-radius: 5px;
	margin-bottom: 30px;
}


.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.income-form-container {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.income-form {
	width: 100%;
	display: flex;
	padding: 25px;
	flex-direction: column;
	align-items: center;

}

.income-form-header {
		text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.income-form-header h2 {
	margin-right: 25px;
}

.lock {
	padding: 10px;
	background-color: #2699FB;
	border: 1px solid #2699FB;
	color: #FFF;
	cursor: pointer;
	font-size: 1em;
}

.lock:active {
	background-color: #509ee2;
	transform: translateY(4px);
	box-shadow: 0 2px #666;
}


.income-form-item {
	width: 80%;
}

.income-form-item label {
	width: 100%;
}






.input {
	width: 100%;
	padding: 12px 20px;
	border-radius: 2px;
	border: 1px solid #ddd;
}

.income-form-item select {
	width: 100%;
	height: 40px;
	border-radius: 2px;
	border: 1px solid #ddd;
}
.button-container {
	display: flex;
}


.button {
	margin-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #E4572E;
	border: 1px solid #E4572E;
	color: #FFF;
	cursor: pointer;
}

.button:last-child {
	margin-right: 0px;
}

.button:active {
	background-color: #509ee2;
	transform: translateY(4px);
	box-shadow: 0 2px #666;
}

.clear-button {
	background-color: #FB8826;
	border: 1px solid #FB8826;
}

.clear-button:active {
	background-color:#DC7721;
	transform: translateY(4px);
	box-shadow: 0 2px #666;
}

.locked {
	/*background-color: #EBEBEE;*/
	background-color: #ddd;
	color: #29335C;
}
.locked-lock {
	border: 1px solid #E4572E;
	background-color: #E4572E;
}

.locked .button {
	visibility: hidden;
}
.loading {
	position: absolute;
	top: vw;
}


.params-boxes {
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	text-align: center;
}


.warning {
	font-size: 1.9em;
}

.new_box_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ddd;
	height: 200px;
	margin-bottom: 100px;
}

.new_box_header {
	width: 100%;
	background-color: #A8C686;
}

.new_box_body {
	padding: 15px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}

.new_box_input {
	width: 100%;
	height: 55%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}


.new_box_input label{
	margin-right: 25px;
}


.buttons_container {
	justify-content: center;
	padding: 10px;
}
.config_container{
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.config_boxes_container {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 30px;
	min-height: 800px;
}

/*.config-box {
	color: #FFF;
	border-radius: 5px;
	height: 300px;
	width: 370px;
	overflow-y: auto;
	margin-bottom: 30px;
	border: 1px solid gray;
	padding: 5px;
	background-color: #2699FB;
}*/

.config_table_container {
	width: 350px;
	margin-bottom: 30px;
	border-radius: 10px;
}

.table_config {
	border-radius: 5px;
	border-collapse: collapse;
	padding: 15px;
	width: 350px;
	color: #000;
}

.table_config thead {
	width: 350px;
	overflow: auto;
	color: #fff;
	background: #A8C686;
}

.table_config tbody {
	display: block;
	width: 350px;
	height: 200px;
	background: #fff;
	overflow: auto;
}

.table_config th {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.table_config th,td {
	padding: .5em 1em;
	text-align: left;
	width: 100%;
}

.table_config thead tr {
	background-color: #A8C686;
}


.table_config tbody td{
	width: 33%;
}



.table_config tr {
	background-color: #669BBC;
}

.table_config tr:nth-child(even){background-color: #9bbed3;}

.config-box::-webkit-scrollbar {
	width: 10px;
}

.config-box::-webkit-scrollbar-thumb{
	background-color: #2699FB;
}


.config_box_button {
	padding: 5px;
	border-radius: 5px;
	background-color: #FFF;
	border: 1px solid #FFF;
	font-size: 1em;

}

.config_box_button_inverse {
	padding: 5px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 1em;
}

.config_box_button:hover {
	cursor: pointer;
}

.config_box_button_inverse:hover {
	cursor: pointer;
}

.config_box_button:first-child {
	margin-right: 5px;
}

.config-box-header {
	margin: 0;
	padding: 10px;
	background-color: #2699FB;
}

.boxes_content {
	flex-wrap: wrap;
	border: 1px solid #ddd;
	padding: 20px;
	justify-content: space-around;
	box-sizing: border-box;
	background-color: #F3A712;
}

.box-title-container {
  display:flex;
  justify-content: flex-end;
  align-items: center;

}

.box-buttons-container {
	display: flex;
	justify-content: flex-end;
}

.box-content {
	flex-direction: column;
	color: #000;
	margin: 0;
}

.loading {
	position: fixed;
	margin: auto;
	right: 0;
	margin: 20px;
}

.boxitem_item {
	margin-bottom: 0;
	align-items: center;
	border: 1px solid #000;
	background-color: #fff;
}

.box_distribution {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
}

.box_distributions {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
}

/********************** MODAL ***********************/

.modal {
 	position: absolute;
 	min-width: 350px;
 	max-width: 500px;
 	background-color: #FFF;
 	border: 1px solid #000;
 	text-align: center;
}

.modal-close-button {
	display: flex;
	justify-content: flex-end;
}

.modal-input-row {
	width: 100%;
	padding-right: 0px;
}

.modal-button-container {
	justify-content: center;
}



.modal-label {
	width: 100%;
	display: flex;
	margin-bottom: 10px;

}

.modal-label label {
	margin-right: 25px;
}

.modal-input-container {
	margin-bottom: 20px;
	width: 100%;
}

.modal-input {
	width: 100%;

}

.cashflow_container {
	flex-direction: column;
	align-items: center;
}

.exclamation {
	font-size: 3em;
}

.income_table {
	justify-content: center;
}

.box_table {
	margin-bottom: 25px;
}

.table {
	border-collapse: collapse;
}

.table tr:nth-child(even){background-color: #ddd;}

.table tr th{
	padding: 15px;
	background-color: #29335C;
	color: #fff;
	border-bottom: 1px solid #ddd;
}

.table tr td {
	padding: 15px;
	width: 300px;
}

.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.pie_container {
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.pie {
	height: 250px;
}

.svg {
	width: 100%;
	height: 250px;
}

.box_color {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
}

.centered {
	text-align: center;
}


@media screen and (max-width: 500px){
	.income-form-container {
		padding: 0px;
	}

	.income-form {
		padding: 10px;
	}

	.income-form-item {
		width: 100%;
	}

	.modal-input-container {
		width: 100%;
	}

}

