.header {
	height: 70px;
	background-color: #000;
	text-align: center;
	color: #FFF;
	padding: 0;
}

.navmenu {
	margin: auto;
	height: 100%;
}
.navmenu ul{
	list-style-type: none;
	margin: 0;
	padding: 25px;
	height: 100%;
}
.navmenu ul li {
	display: inline;
	margin-right: 25px;
	height: 100%;
}
.navmenu ul li a{
	text-decoration: none;
	color: #FFF;
	height: 100%;
}

.income_distribution {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.no_data {
	display: flex;
	border: 1px solid #000;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.icon {
	font-size: 5em;
	margin: 0;
}

.link_btn {
	display: block;
	padding: 25px;
	background-color: blue;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	border-radius: 5px;
	margin-bottom: 30px;
}

.income-form-container {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	padding: 25px;
}

.income-form {
	width: 100%;
	display: flex;
	padding: 25px;
	flex-direction: column;
	align-items: center;

}


.income-form-item {
	width: 80%;
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
	align-items: center;
}

.income-form-item label {
	width: 30%;
}






.income-form-item input {
	width: 70%;
	height: 30px;
	border-radius: 2px;
	border: 1px solid #000;
}


